# Copyright (C) 2022 RDA Technologies Limited and/or its affiliates("RDA").
# All rights reserved.
#
# This software is supplied "AS IS" without any warranties.
# RDA assumes no responsibility or liability for the use of the software,
# conveys no license or title under any patent, copyright, or mask work
# right to the product. RDA reserves the right to make changes in the
# software without notification.  RDA also make no representation or
# warranty that such application will be suitable for the specified use
# without further testing or modification.

menu "imshttp"

config NET_IMSHTTP_LIB_SUPPORT
    bool "NET_IMSHTTP_LIB_SUPPORT enabled"
    default y                             #quectel modify
    depends on QUEC_PROJECT_FEATURE_SSL && QUEC_PROJECT_FEATURE_VOLTE  #quectel modify
    help
        When enabled, NET_IMSHTTP_LIB_SUPPORT will be defined
endmenu
